trigger:
- master
- release

pr:
  autoCancel: true
  branches:
    include:
    - master
    - release
  paths:
    exclude:
    - docs/*

resources:
  containers:
  - container: el7
    image: ornladios/adios2:el7
  - container: el7-gnu8-ohpc
    image: ornladios/adios2:el7-gnu8-ohpc
  - container: el7-gnu8-openmpi-ohpc
    image: ornladios/adios2:el7-gnu8-openmpi-ohpc
  - container:  el7-intel18-ohpc
    image: ornladios/adios2:el7-intel18-ohpc
  - container: el7-intel18-openmpi-ohpc
    image: ornladios/adios2:el7-intel18-openmpi-ohpc
  - container:  suse-pgi
    image: ornladios/adios2:suse-pgi
  - container:  suse-pgi-openmpi
    image: ornladios/adios2:suse-pgi-openmpi

strategy:
  matrix:
    el7:
      containerResource: el7
    el7-gnu8-ohpc:
      containerResource: el7-gnu8-ohpc
    el7-gnu8-openmpi-ohpc:
      containerResource: el7-gnu8-openmpi-ohpc
    el7-intel18-ohpc:
      containerResource: el7-intel18-ohpc
    el7-intel18-openmpi-ohpc:
      containerResource: el7-intel18-openmpi-ohpc
    suse-pgi:
      containerResource: suse-pgi
    suse-pgi-openmpi:
      containerResource: suse-pgi-openmpi

container: $[ variables['containerResource'] ]

steps:
  - bash: scripts/ci/runOnAzure.sh update
    name: Update
  - bash: scripts/ci/runOnAzure.sh configure
    name: Configure
  - bash: scripts/ci/runOnAzure.sh build
    name: Build
  - bash: scripts/ci/runOnAzure.sh test
    name: Test
