*.bash @ornladios/infrastructure
*.json @ornladios/infrastructure
*.toml @ornladios/infrastructure
*.sh @ornladios/infrastructure
*.yaml @ornladios/infrastructure
*.yml @ornladios/infrastructure

.gitlab/ @ornladios/infrastructure
.github/ @ornladios/infrastructure
.shellcheck_exclude_paths @ornladios/infrastructure

cmake/ @ornladios/infrastructure
python/ @ornladios/infrastructure
scripts/ @ornladios/infrastructure
thirdparty/ @ornladios/infrastructure

plugins/ @caitlinross
source/adios2/toolkit/sst/dp/mpi_dp.c @vicentebolea

# GPU-aware specific files
source/adios2/helper/kokkos/ @anagainaru
source/adios2/helper/adiosCUDA.* @anagainaru
source/adios2/helper/adiosGPUFunctions.h @anagainaru
