name: GitHub Actions

on: 
  push: 
    branches: 
    - master 
    - release* 
  pull_request: 
    branches: 
    - master 
    - release* 

jobs:
  linux:
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    env:
      GH_YML_JOBNAME: ${{ matrix.jobname }}
      GH_YML_OS: Linux

    strategy:
      fail-fast: false
      matrix:
        jobname: [
          el7,
          el7-gnu8-ohpc,
          el7-gnu8-openmpi-ohpc,
          suse-pgi,
          suse-pgi-openmpi ]
        include:
        - jobname: el7
          container: ornladios/adios2:ci-el7
        - jobname: el7-gnu8-ohpc
          container: ornladios/adios2:ci-el7-gnu8-ohpc
        - jobname: el7-gnu8-openmpi-ohpc
          container: ornladios/adios2:ci-el7-gnu8-openmpi-ohpc
        - jobname: suse-pgi
          container: ornladios/adios2:ci-suse-pgi
        - jobname: suse-pgi-openmpi
          container: ornladios/adios2:ci-suse-pgi-openmpi

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        entrypoint: /usr/bin/sh -c
    - name: Setup
      run: scripts/ci/gh-actions/linux-setup.sh
    - name: Update
      run: scripts/ci/gh-actions/run.sh update
    - name: Configure
      run: scripts/ci/gh-actions/run.sh configure
    - name: Build
      run: scripts/ci/gh-actions/run.sh build
    - name: Test
      run: scripts/ci/gh-actions/run.sh test

  linux_emu:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.container }}
      options: --privileged
    env:
      GH_YML_JOBNAME: ${{ matrix.jobname }}
      GH_YML_OS: Linux

    strategy:
      fail-fast: false
      matrix:
        jobname: [
          power8-el7-xl,
          power8-el7-xl-smpi,
          power8-el7-pgi,
          power8-el7-pgi-smpi ]
        include:
        - jobname: power8-el7-xl
          container: ornladios/adios2:ci-x86_64-power8-el7-xl
          arch: ppc64le
        - jobname: power8-el7-xl-smpi
          container: ornladios/adios2:ci-x86_64-power8-el7-xl-smpi
          arch: ppc64le
        - jobname: power8-el7-pgi
          container: ornladios/adios2:ci-x86_64-power8-el7-pgi
          arch: ppc64le
        - jobname: power8-el7-pgi-smpi
          container: ornladios/adios2:ci-x86_64-power8-el7-pgi-smpi
          arch: ppc64le

    steps:
    - name: Emulation Setup
      run: /x86_64/bin/register --reset --targets ${{ matrix.arch }}
      env:
        PATH: /x86_64/bin
    - name: Node.js Setup
      run: mount --bind /x86_64/bin/node /__e/node12/bin/node
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Setup
      run: scripts/ci/gh-actions/linux-setup.sh
    - name: Update
      run: scripts/ci/gh-actions/run.sh update
    - name: Configure
      run: scripts/ci/gh-actions/run.sh configure
    - name: Build
      run: scripts/ci/gh-actions/run.sh build
    - name: Test
      run: scripts/ci/gh-actions/run.sh test

  macos:
    runs-on: ${{ matrix.os }}
    env:
      GH_YML_JOBNAME: ${{ matrix.jobname }}
      GH_YML_OS: macOS

    strategy:
      fail-fast: false
      matrix:
        jobname: [
          macos1015-xcode111-make ]
        include:
        - jobname: macos1015-xcode111-make
          os: macos-10.15

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Setup
      run: scripts/ci/gh-actions/macos-setup.sh
    - name: Update
      run: scripts/ci/gh-actions/run.sh update
    - name: Configure
      run: scripts/ci/gh-actions/run.sh configure
    - name: Build
      run: scripts/ci/gh-actions/run.sh build
    - name: Test
      run: scripts/ci/gh-actions/run.sh test
