name: external
on:
  push:
  pull_request_target:

permissions:
  contents: read

jobs:
  generate_statuses:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
      - uses: Kitware/cdash-status@697751fc655b300a9e16e285f2e2ee981f59e45a # release
        with:
          project: ADIOS
