name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v9
        with:
          stale-issue-message: 'This issue is stale because it has been 1 year with no activity. Remove stale label or comment or this will be closed in 30 days.'
          stale-pr-message: 'This PR is stale because it has been open 6 months with no activity. Remove stale label or comment or this will be closed in 30 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 30 days with no activity.'
          close-pr-message: 'This PR was closed because it has been stalled for 30 days with no activity.'
          days-before-issue-stale: 365
          days-before-pr-stale: 180
          days-before-issue-close: 30
          days-before-pr-close: 30
          exempt-issue-labels: 'evergreen'
          operations-per-run: 500
